body {
	background-color: red;
}
#jumbo-text {
	font-family: 'Open Sans Condensed', sans-serif;
	margin: 0px;
	text-align: center;
}
#hello {
	text-align: center;
	color: red;
	text-decoration: underline;
	width: 100%;
}
#im {
	text-align: center;
	width: 100%;
	color: gray;
}
.jumbotron {
	margin: 0px;
}
.navbar {
	width: 100%;
	background-color: darkgray;
}
.btn {
	color: white;
	background-color: transparent;
	border-color: transparent;
	width: 15%;
	float: left;
	margin-top: 0px; 
	position: relative;
}
.content {
	margin-top: 100px;
	text-align: center;
}